@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.filter-white {
  filter: invert(100%) sepia(0%) saturate(791%) hue-rotate(301deg) brightness(107%) contrast(102%);
}

* {
  font-family: "Roboto", sans-serif;
}

h1, .header__heading, .footer__title, .loader__paragraph {
  font-family: "Shrikhand", cursive;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/*h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}*/
ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
header .header__heading {
  width: 50%;
  padding: 30px 0 20px 0;
}
header .header__icon {
  position: absolute;
  left: 5%;
  top: 50%;
  font-size: 1.5rem;
  transform: translateY(-0.75rem);
}

footer {
  width: 100%;
  background-color: #353535;
  padding: 25px;
}
footer .footer__title {
  padding-bottom: 15px;
}
footer .footer__title img {
  height: 1em;
  width: auto;
}
footer .footer__item {
  display: flex;
  color: #fff;
  padding-bottom: 8px;
}
footer .footer__item img {
  padding-right: 15px;
}

@keyframes start-delay {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinner-animation {
  0% {
    transform: translateX(-50%) rotate(0);
    visibility: visible;
  }
  50% {
    transform: translateX(-50%) rotate(360deg);
  }
  100% {
    transform: translateX(-50%) rotate(720deg);
  }
}
@keyframes content-visibility {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
.loader {
  position: relative;
  visibility: hidden;
}

.loader-animation {
  width: 250px;
  height: 250px;
  border: 0 solid #99e2d0;
  border-top: 16px solid #99e2d0;
  border-bottom: 16px solid #99e2d0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: 3s spinner-animation;
}

.loader__content {
  width: 250px;
  height: 250px;
  background: linear-gradient(#9656dc, #ff79da);
  margin: 40vh auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-style: italic;
  animation: 3s content-visibility;
}

.start-animation {
  animation: 3.5s start-delay forwards;
  position: absolute;
  top: 0;
  width: 100%;
}

.header__heading {
  max-width: 500px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #eaeaea;
  padding: 20px 0;
}
.search-bar .search-bar__input {
  border: none;
  background-color: #eaeaea;
  text-align: center;
  transform: translateX(-6px);
  font-weight: bold;
  z-index: 0;
  outline: none;
}
.search-bar .search-bar__input::placeholder {
  opacity: 1;
  color: black;
}
.search-bar .search-bar__icon {
  z-index: 1;
  transform: translateX(18px);
}

.service-introduction {
  background-color: #f6f6f6;
  padding: 25px;
}
.service-introduction__title {
  text-align: center;
  padding: 0 20px 15px 20px;
}
.service-introduction .service-introduction__paragraph {
  text-align: center;
  padding-bottom: 20px;
}
.service-introduction .service-introduction__link {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 15px;
  width: 220px;
  color: #fff;
  background: linear-gradient(to top left, #9656dc, #ff79da);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 1s;
}
.service-introduction .service-introduction__link:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 6px 6px;
  opacity: 0.85;
}

.functioning {
  padding: 25px 40px 25px 25px;
}
.functioning__title {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .functioning .desktop-functioning-version {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .functioning .desktop-functioning-version .functioning__item {
    width: 32%;
  }
}
.functioning .functioning__item {
  margin-bottom: 15px;
  padding: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #f6f6f6;
  border-radius: 12px;
  background-color: #f6f6f6;
  transform: translateX(15px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 1s;
  cursor: pointer;
}
.functioning .functioning__item:hover {
  transition-duration: 1s;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 6px 6px;
  background-color: #f5edff;
}
.functioning .functioning__item:hover i {
  transition-duration: 1s;
  color: #9656dc;
}
.functioning .functioning__item :nth-child(1) {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #9656dc;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-15px);
}
.functioning .functioning__item :nth-child(2) {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #7e7e7e;
}
.functioning .functioning__item :nth-child(3) {
  height: 30px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .restaurant-choice__previews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurant-choice__previews .restaurant-prev {
    width: 49%;
  }
}

.restaurant-choice {
  padding: 25px;
  background-color: #f6f6f6;
}
.restaurant-choice__title {
  padding-bottom: 25px;
}

.restaurant-prev {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 25px;
  position: relative;
}
.restaurant-prev .restaurant-prev__img {
  width: 100%;
  height: 210px;
}
.restaurant-prev .restaurant-prev__img img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.restaurant-prev .new-banner {
  position: absolute;
  top: 25px;
  right: 25px;
  background: #99e2d0;
  color: #008766;
  padding: 5px 10px;
  border-radius: 3px;
}

.restaurant-prev-text-content {
  padding: 15px;
  height: 90px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurant-prev-text-content .heart-icon .empty {
  font-size: 1.5rem;
  transition: all 1s;
}
.restaurant-prev-text-content .heart-icon .full {
  font-size: 1.5rem;
  transition: all 1s;
  opacity: 0;
  background: linear-gradient(#9656dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant-prev-text-content .heart-icon:hover > .empty {
  opacity: 0;
}
.restaurant-prev-text-content .heart-icon:hover > .full:hover {
  opacity: 1;
}
.restaurant-prev-text-content .heart-icon .empty,
.restaurant-prev-text-content .heart-icon .full {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-image {
  width: 100%;
  height: 280px;
}
.menu-image img {
  object-fit: cover;
  height: 280px;
  width: 100%;
}

.restaurant-menu {
  padding: 25px;
  background-color: #f6f6f6;
  position: relative;
  border-radius: 35px 35px 0 0;
  transform: translateY(-35px);
  margin-bottom: -35px;
  overflow: hidden;
}
.restaurant-menu .heart-icon .empty {
  font-size: 1.5rem;
  transition: all 1s;
}
.restaurant-menu .heart-icon .full {
  font-size: 1.5rem;
  transition: all 1s;
  opacity: 0;
  background: linear-gradient(#9656dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant-menu .heart-icon:hover > .empty {
  opacity: 0;
}
.restaurant-menu .heart-icon:hover > .full:hover {
  opacity: 1;
}
.restaurant-menu .heart-icon .empty,
.restaurant-menu .heart-icon .full {
  position: absolute;
  top: 25px;
  right: 45px;
}
.restaurant-menu .heart-icon:hover {
  cursor: pointer;
}
.restaurant-menu .restaurant-menu__title {
  margin-bottom: 25px;
}
.restaurant-menu .restaurant-menu__part-title {
  font-weight: 300;
  padding-bottom: 3px;
  opacity: 0;
}
.restaurant-menu .green-line {
  width: 45px;
  color: #99e2d0;
  border: none;
  border-top: solid 2px #99e2d0;
  margin-bottom: 15px;
  opacity: 0;
}
.restaurant-menu .command-link {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 15px;
  width: 220px;
  color: #fff;
  background: linear-gradient(to top left, #9656dc, #ff79da);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 1s;
  margin-top: 40px;
  margin-bottom: 30px;
}
.restaurant-menu .command-link:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 6px 6px;
  opacity: 0.85;
}

@media (min-width: 992px) {
  .restaurant-menu-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurant-menu-desktop .plat-choice {
    width: 32%;
  }
}

.first-animation {
  animation: page-menu-animation 2s forwards;
}

.second-animation {
  animation: page-menu-animation 2s 2s forwards;
}

.third-animation {
  animation: page-menu-animation 2s 4s forwards;
}

.menu-item {
  opacity: 0;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: 0.5s;
}
.menu-item__content {
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 40px;
}
.menu-item__price {
  font-weight: bold;
  position: absolute;
  width: 30px;
  bottom: 10px;
  right: 10px;
}
.menu-item:hover {
  margin-right: 60px;
  border-radius: 10px 0 0 10px;
}
.menu-item:hover .hover-item {
  right: -60px;
  width: 60px;
}
.menu-item:hover .hover-item__icon {
  animation: 0.5s icon-menu-animation forwards;
}

.hover-item {
  position: absolute;
  right: 0;
  top: 0;
  width: 0px;
  height: 65px;
  text-align: center;
  background-color: #99e2d0;
  color: #fff;
  border-radius: 0 10px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.5s;
}
.hover-item__icon {
  width: 60px;
  height: 65px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: rotate(180deg);
  opacity: 0;
}

@keyframes icon-menu-animation {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  40% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(-90deg);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes page-menu-animation {
  0% {
    opacity: 0;
    transform: translateY(65px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
