// .search-bar section

.search-bar {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: $search-bar-background-color;
    padding: 20px 0;

    .search-bar__input {
        border: none;
        background-color: $search-bar-background-color;
        font-weight: bold;
        text-align: center;
        transform: translateX(-6px);
        z-index: 0;
        outline: none;
    }

    .search-bar__input::placeholder {
        opacity: 1;
        color: black;
    }

    .search-bar__icon {
        z-index: 1;
        transform: translateX(18px);
    }
}