//box-shadow

@mixin first-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@mixin first-box-shadow-hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.50) 0px 6px 6px;
}

//centrer verticalement

@mixin vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

