//box-shadow

@mixin first-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@mixin first-box-shadow-hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.50) 0px 6px 6px;
}

//centrer verticalement

@mixin vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

//heart icon hover

@mixin heart-icon {
    .empty {
        font-size: 1.5rem;
        transition: all 1s;
    }

    .full {
        font-size: 1.5rem;
        transition: all 1s;
        opacity: 0;
        background: linear-gradient( $primary, $secondary);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover {
        > .empty {
            opacity: 0;
        }

        > .full:hover {
            opacity: 1;
        }
    }  
}

//new banner

@mixin new-baner {
    .new-banner {
        position: absolute;
        top: 25px;
        right: 25px;
        background: $new-banner-background;
        color: $new-banner-color;
        padding: 5px 10px;
        border-radius: 3px;
    }
}

//button

@mixin button {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 15px;
    width: 220px;
    color: $white;
    background: linear-gradient(to top left, $primary, $secondary);
    border-radius: 50px;
    @include first-box-shadow;
    transition: all 1s;

    &:hover {
        @include first-box-shadow-hover;
        opacity: 0.85;
        }
    } 


