//colors

$primary: #9656dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

//footer logo color

.filter-white {
    filter: invert(100%) sepia(0%) saturate(791%) hue-rotate(301deg) brightness(107%) contrast(102%);
}

$footer-content: #fff;
$footer-backgroud-color: #353535;

$restaurant-choice-background-color: #f6f6f6;

$fuctioning__item-background-color: #f5edff;



